<div class="uter-layout pt-32 pb-24 space-y-20">

    <section class="section-wrapper">
      <div class="lg:w-48 shrink-0">
        <h2 class="gray-2xl-text">
          Technical Skills
        </h2>
      </div>
  
      <div class="mt-8 lg:mt-0 flex-1 grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-10">
        
        <div>
          <h3 class="indigo-uppercase-text">Languages</h3>
          <div class="flex flex-wrap gap-2">
            <span class="round-button-gray-md">Typescript</span>
            <span class="round-button-gray-md">C#</span>
            <span class="round-button-gray-md">Python</span>
            <span class="round-button-gray-md">SQL</span>
          </div>
        </div>
  
        <div>
          <h3 class="indigo-uppercase-text">Frameworks and Libraries</h3>
          <div class="flex flex-wrap gap-2">
            <span class="round-button-gray-md">Angular</span>
            <span class="round-button-gray-md">NestJS</span>
            <span class="round-button-gray-md">.NET Core</span>
            <span class="round-button-gray-md">Jasmine</span>
            <span class="round-button-gray-md">Bootstrap</span>
            <span class="round-button-gray-md">RxJs</span>
            <span class="round-button-gray-md">Redux</span>
            <span class="round-button-gray-md">React</span>
            <span class="round-button-gray-md">NgRx</span>
            <span class="round-button-gray-md">Kendo UI</span>
            <span class="round-button-gray-md">Tailwind</span>
          </div>
        </div>
  
        <div>
          <h3 class="indigo-uppercase-text">Web Technologies & Tools</h3>
          <div class="flex flex-wrap gap-2">
            <span class="round-button-gray-md">GraphQL</span>
            <span class="round-button-gray-md">REST</span>
            <span class="round-button-gray-md">Redis</span>
            <span class="round-button-gray-md">Kafka</span>
            <span class="round-button-gray-md">HTML</span>
            <span class="round-button-gray-md">CSS</span>
          </div>
        </div>
  
        <div>
          <h3 class="indigo-uppercase-text">Developer Tools</h3>
          <div class="flex flex-wrap gap-2">
            <span class="round-button-gray-md">Docker</span>
            <span class="round-button-gray-md">Git</span>
            <span class="round-button-gray-md">SourceTree</span>
            <span class="round-button-gray-md">AWS</span>
            <span class="round-button-gray-md">Azure</span>
          </div>
        </div>
  
        <div>
          <h3 class="indigo-uppercase-text">Database & ORM</h3>
          <div class="flex flex-wrap gap-2">
            <span class="round-button-gray-md">MS SQL</span>
            <span class="round-button-gray-md">MySQL</span>
            <span class="round-button-gray-md">PostgreSQL</span>
            <span class="round-button-gray-md">Dapper</span>
            <span class="round-button-gray-md">LINQ</span>
            <span class="round-button-gray-md">Entity Framework</span>
          </div>
        </div>
  
        <div>
          <h3 class="indigo-uppercase-text">Monitoring Tools</h3>
          <div class="flex flex-wrap gap-2">
            <span class="round-button-gray-md">New Relic</span>
          </div>
        </div>
  
        <div class="md:col-span-2">
          <h3 class="indigo-uppercase-text">UI/UX Design & Prototyping</h3>
          <div class="flex flex-wrap gap-2">
            <span class="round-button-gray-md">Adobe XD</span>
            <span class="round-button-gray-md">Canva</span>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section-wrapper pt-12 border-t border-gray-100 dark:border-gray-800">
      <div class="lg:w-48 shrink-0">
        <h2 class="gray-2xl-text">
          Soft Skills
        </h2>
      </div>
  
      <div class="mt-8 lg:mt-0 flex-1">
        <div class="flex flex-wrap gap-3">
          <span class="round-button-gray-lg">
            Problem Solving
          </span>
          <span class="round-button-gray-lg">
            Time Management
          </span>
          <span class="round-button-gray-lg">
            Cross-functional Collaboration
          </span>
          <span class="round-button-gray-lg">
            Adaptability
          </span>
          <span class="round-button-gray-lg">
            Effective Communication
          </span>
          <span class="round-button-gray-lg">
            Analytical Thinking
          </span>
          <span class="round-button-gray-lg">
            Mentorship
          </span>
        </div>
      </div>
    </section>
  
  </div>