@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global behavior */
html {
  scroll-behavior: smooth;
}
@layer base {
    body {
      @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    }
  }

/* Common reusable styles */
.section-title {
  @apply text-4xl font-bold  mb-10;
}

.section {
    @apply min-h-screen bg-white text-gray-900
           dark:bg-gray-900 dark:text-gray-100
           ;
  }

  .section-container {
    @apply max-w-6xl mx-auto px-6;
  }

.card {
  @apply p-6 rounded-lg border shadow hover:shadow-lg transition;
}

.section-wrapper{
    @apply flex flex-col lg:flex-row gap-x-12;
}
.outer-layout{
  @apply mx-auto max-w-7xl px-8;
}
